@model IEnumerable<OnlyFarms.Models.Field>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Pola</h1>
</div>

@foreach (var item in Model) {
    <div class="tile1">
        <div class="overlay1">
            <i class="icon-location" style=" font-size: 70px;" onclick="location.href='Fields/Details/@item.ID';"></i>
            <a class="link">
                @if (User.IsInRole("admin")) {
                    <i class="icon-trash" style="position:absolute; left:5px; top:0; color:aliceblue;" onclick="location.href='Fields/Delete/@item.ID';"></i>
                }
                <p style="color:aliceblue;">@Html.DisplayFor(modelItem => item.Tag)</p>
                @if (User.IsInRole("admin")) {
                    <i class="icon-pencil" style="position:absolute; right:5px; top:0; color:aliceblue;" onclick="location.href='Fields/Edit/@item.ID';"></i>
                }
            </a>
        </div>
    </div>
}
@if (User.IsInRole("admin")) {
    <div class="tile1" onclick="location.href='Fields/Create';">
        <div class="overlay1">
            <i class="icon-plus" style=" font-size: 70px;"></i>
        </div>
    </div>
}
