@model OnlyFarms.Models.Contract

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Client Name</label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Delivery Date</label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Name</td>
                        <td>Count</td>
                        <td></td>
                    </tr>
                    @foreach (Crop item in ViewBag.crops) {
                        <tr>
                            <td>@item.CropName</td>
                            <td><input type="number" name="in+@item.ID" min="0"/></td>
                            <td><input type="checkbox" name="cx+@item.ID"></td>
                        </tr>
                    }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
