@model IEnumerable<OnlyFarms.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Kontrakty</h1>
</div>

@foreach (var item in Model)
{
    <div class="tile1">
        <div class="overlay1">
            <i class="icon-edit" style=" font-size: 70px;" onclick="location.href='Contracts/Details/@item.ID';"></i>
            <a class="link">
                <i class="icon-trash" style="position:absolute; left:5px; top:0; color:aliceblue;" onclick="location.href='Contracts/Delete/@item.ID';"></i>
                <p style="color:aliceblue;">@Html.DisplayFor(modelItem => item.ClientName)</p>
                <i class="icon-pencil" style="position:absolute; right:5px; top:0; color:aliceblue;" onclick="location.href='Contracts/Edit/@item.ID';"></i>
            </a>
        </div>
    </div>
}
<div class="tile1" onclick="location.href='Contracts/Create';">
    <div class="overlay1">
        <i class="icon-plus" style=" font-size: 70px;"></i>
    </div>
</div>
