@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
    <h1>Zaloguj</h1>
</div>
@foreach (Worker item in ViewBag.workers) {
    <div class="tile1">
        <div class="overlay1" onclick="location.href = 'LoginConfirmed/@item.ID';">
            <i class="icon-user" style=" font-size: 70px;" ></i>
            <br />
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.Surname)
        </div>
    </div>
}
