@model IEnumerable<OnlyFarms.Models.Worker>

@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h1>Pracownicy</h1>
</div>

@foreach (var item in Model)
{
        <div class="tile1">
            <div class="overlay1">
                <i class="icon-user" style=" font-size: 70px;" onclick="location.href='Workers/Details/@item.ID';"></i>
                <a class="link">
                    <i class="icon-trash" style="position:absolute; left:5px; top:0; color:aliceblue;" onclick="location.href='Workers/Delete/@item.ID';"></i>
                    <p style="color:aliceblue;">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.Surname)</p>
                    <i class="icon-pencil" style="position:absolute; right:5px; top:0; color:aliceblue;" onclick="location.href='Workers/Edit/@item.ID';"></i>
                </a>
            </div>
        </div>
}
<div class="tile1" onclick="location.href='Workers/Create';">
    <div class="overlay1">
        <i class="icon-plus" style=" font-size: 70px;"></i>
    </div>
</div>