@{
    ViewData["Title"] = "Farmer";
}

<div class="text-center">
    <div id="container">
        <div class="tile1" onclick="location.href='Machines';">
            <div class="overlay1">
                <i class="icon-steering-wheel" style=" font-size: 70px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:12px">Maszyny</p></a>
            </div>
        </div>
        <div class="tile1" onclick="location.href='Equipments';">
            <div class="overlay1">
                <i class="icon-cog-alt" style=" font-size: 70px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:12px">Sprzęt</p></a>
            </div>
        </div>
        <div class="tile1" onclick="location.href='Procedures';">
            <div class="overlay1">
                <i class="icon-list-alt" style=" font-size: 70px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:12px">Zabiegi</p></a>
            </div>
        </div>
        <div class="tile1" onclick="location.href='CropSales';">
            <div class="overlay1">
                <i class="icon-money" style=" font-size: 70px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:12px">Sprzedaż plonów</p></a>
            </div>
        </div>

        <div style="clear:both"></div>

        <div class="tile1" onclick="location.href='Workers';">
            <div class="overlay1">
                <i class="icon-pied-piper-alt" style=" font-size: 70px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:12px">Pracownicy</p></a>
            </div>
        </div>
        <div class="tile1" onclick="location.href='Fields';">
            <div class="overlay1">
                <i class="icon-map" style=" font-size: 70px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:12px">Pola</p></a>
            </div>
        </div>
        <div class="tile1" onclick="location.href='Contracts';">
            <div class="overlay1">
                <i class="icon-edit" style=" font-size: 70px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:12px">Kontrakty</p></a>
            </div>
        </div>
        <div class="tile1" onclick="location.href='Cultivations';">
            <div class="overlay1">
                <i class="icon-pagelines" style=" font-size: 70px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:12px">Uprawy</p></a>
            </div>
        </div>
        <div style="clear: both;"></div>

        <div class="tile1" onclick="location.href='Supplies';">
            <div class="overlay1">
                <i class="icon-warehouse" style=" font-size: 70px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:12px">Zasoby</p></a>
            </div>
        </div>


        <div class="tile1" onclick="location.href='Crops';">
            <div class="overlay1">
                <i class="icon-apple" style=" font-size: 70px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:12px">Plon</p></a>
            </div>
        </div>

        <div style="clear: both;"></div>

    </div>
