@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="container">
        <div class="tile2" onclick="location.href='Farmer';">
            <div class="overlay">
                <i class="icon-user-secret" style=" font-size: 140px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:40px">Rolnik</p></a>
            </div>
        </div>
        <div class="tile3" onclick="location.href='WorkerView/Login';">
            <div class="overlay">
                <i class="icon-pied-piper-alt" style=" font-size: 140px;"></i>
                <a class="link"><p style="color:aliceblue; font-size:40px">Pracownik</p></a>
            </div>
        </div>
        <div style="clear:both"></div>
        <div style="clear: both;"></div>
    </div>
