@{
    ViewData["Title"] = "Show";
}

<h1>Details</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @ViewBag.percentageOfContractCompletion % of Contract Completion
        </dt>
    </dl>
</div>
<div>
</div>