@model OnlyFarms.Models.Procedure

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Procedure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInHours" class="control-label"></label>
                <input asp-for="DurationInHours" class="form-control" />
                <span asp-validation-for="DurationInHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="To do">To do</option>
                    <option value="In progress">In progress</option>
                    <option value="Done">Done</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field" class="control-label"></label>
                <select asp-for="FieldID" class="form-control" asp-items="ViewBag.FieldID"><option hidden selected>Select one...</option></select>
            </div>
            <div class="form-group">
                <label asp-for="Equipment" class="control-label"></label>
                <select asp-for="EquipmentID" class="form-control" asp-items="ViewBag.EquipmentID"><option hidden selected>Select one...</option></select>
            </div>
            <div class="form-group">
                <label asp-for="Machine" class="control-label"></label>
                <select asp-for="MachineID" class="form-control" asp-items="ViewBag.MachineID"><option hidden selected>Select one...</option></select>
            </div>
            <div class="form-group">
                <label asp-for="Worker" class="control-label"></label>
                <select asp-for="WorkerID" class="form-control" asp-items="ViewBag.WorkerID"><option hidden selected>Select one...</option></select>
            </div>
            <div class="form-group">
                <table>
                    <tr>
                        <td>Name</td>
                        <td></td>
                    </tr>
                    @foreach (Supply item in ViewBag.supplies)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td><input type="checkbox" name="cx+@item.ID"></td>
                        </tr>
                    }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
