@model IEnumerable<OnlyFarms.Models.Procedure>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Zabiegi</h1>
</div>

@foreach (var item in Model) {
    @if (item.Status == "Done") {
        <div class="tile1" style="background-color: #00a651">
            <div class="overlay1">
                <i class="icon-calendar-check-o" style=" font-size: 70px;" onclick="location.href='Procedures/Details/@item.ID';"></i>
                <a class="link">
                    @if (User.IsInRole("admin")) {
                        <i class="icon-trash" style="position:absolute; left:5px; top:0; color:aliceblue;" onclick="location.href='Procedures/Delete/@item.ID';"></i>
                    }
                        <p style="color:aliceblue;">@Html.DisplayFor(modelItem => item.Label)</p>
                        <i class="icon-pencil" style="position:absolute; right:5px; top:0; color:aliceblue;" onclick="location.href='Procedures/Edit/@item.ID';"></i>
                    </a>
            </div>
        </div>
    }
    @if (item.Status == "To do") {
        <div class="tile1" style="background-color: #ff0000">
            <div class="overlay1">
                <i class="icon-calendar-empty" style=" font-size: 70px;" onclick="location.href='Procedures/Details/@item.ID';"></i>
                <a class="link">
                    @if (User.IsInRole("admin")) {
                        <i class="icon-trash" style="position:absolute; left:5px; top:0; color:aliceblue;" onclick="location.href='Procedures/Delete/@item.ID';"></i>
                    }
                        <p style="color:aliceblue;">@Html.DisplayFor(modelItem => item.Label)</p>
                        <i class="icon-pencil" style="position:absolute; right:5px; top:0; color:aliceblue;" onclick="location.href='Procedures/Edit/@item.ID';"></i>
                    </a>
            </div>
        </div>
    }
    @if (item.Status == "In progress") {
        <div class="tile1" style="background-color: #ffd800">
            <div class="overlay1">
                <i class="icon-spin4" style=" font-size: 70px;" onclick="location.href='Procedures/Details/@item.ID';"></i>
                <a class="link">
                    @if (User.IsInRole("admin")) {
                        <i class="icon-trash" style="position:absolute; left:5px; top:0; color:aliceblue;" onclick="location.href='Procedures/Delete/@item.ID';"></i>
                    }
                        <p style="color:aliceblue;">@Html.DisplayFor(modelItem => item.Label)</p>
                        <i class="icon-pencil" style="position:absolute; right:5px; top:0; color:aliceblue;" onclick="location.href='Procedures/Edit/@item.ID';"></i>
                    </a>
            </div>
        </div>
    }

}
@if (User.IsInRole("admin")) {
    <div class="tile1" onclick="location.href='Procedures/Create';">
        <div class="overlay1">
            <i class="icon-plus" style=" font-size: 70px;"></i>
        </div>
    </div>
}

